<!---<h1>Liste des Pokemons</h1>
<input type="number" (click)="selectPokemon($event)">
<p>{{pokemonList[0].name}}</p>
<p>{{pokemonList[1].name}}</p>
<p>{{pokemonList[11].name}}</p>
<p>{{pokemonList[12].name}}</p>
-->

<h1 class="center">Liste des Pokemons</h1>
<h1 class="center">Liste des Pokemons</h1>

<router-outlet></router-outlet>
<div class="container">
  <div class="row">
      <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
          <div class="card horizontal"  pkmnBorderCard=>
              <div class="card-image">
                  <img [src]="pokemon.picture" alt="">
              </div>
              <div class="card-stacked">
                  <div class="card-conten">
                      <p>{{ pokemon.name }}</p>
                      <p><small>{{ pokemon.created | date:"dd/MM/yyyy" }}</small></p>
                      <span *ngFor="let type of pokemon.types " class=" {{type | pokemonTypeColor}}">
                          {{type}}
                      </span>
                  </div>
  
              </div>
          </div>
          
      
      </div>
  </div>
</div>



 <!--
<input 
#input
(keyup.enter)="selectPokemon(input.value)"
type="number"
>

<h2 *ngIf="pokemonSelected">
    Vous avez selectionner : {{pokemonSelected?.name}}</h2>
  <h2 *ngIf="!pokemonSelected">
    Aucun pokemon n'a ete trouve</h2>--> 
    
